*{
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-align: center;
}

body{
    background-color: black;
    color: white;
}

/** header designs **/
header{
    display: block; 
    position: fixed;
    border-bottom: 1px solid seashell;
    background-color: black;
    z-index: 1;
    width: 100%;
    height: 4em;
    top: 0px;
}


.logo{
    float: left;
    height: 4em;    
}

.logo img{
    height: 100%;
}

nav{
    float: right;
    width: 50%;
    height: 100%;
    font-size: 1em;
}

nav .container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    }

nav .container .home-button,
nav .container .products-button,
nav .container .contact-button {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      padding: 1.1em 1.25em;
      cursor: pointer; 
    }

        .menu{
            display: none;
        }




/**main */

// Variables
$width: 45em;
$height: 32em;
.mission-container{
    display: flex;
    justify-content: center;
    height: $height;
    max-width: 1200px;
    margin: 70px auto 30px auto;
}


.slider {
  width: $width;
  height: $height;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;

  .slides {
    display: inline-block;
    width: $width;
    height: $height;
    margin: 0;
    padding: 0;
  }

  .slides img{
    display: none ;
    width: $width;
    height: $height;
  }

  .slides img .active{
    display: inline-block;
  }
}

.prev, .next {
    background-color: red;
  float: left;
  margin-top: 200px;
  cursor: pointer;

  .prev {
    position: relative;
    margin-right: -45px;
    z-index:5;
  }

  .next {
    position: relative;
    margin-left: 45px;
    z-index: 5;
  }

 
}


.about-us{
    text-align: center;
    background-color: black;
    width: 70%;
    margin: auto;
    line-height: 1.5em;
    letter-spacing: 0.1em;
}

@mixin flexInline ( $arg ) {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: $arg;
}


/*Products*/
$product-width: 19em;
.product-types{
    @include flexInline('center');
    height: auto;
    max-width: 63em;
}


.products{
    width: $product-width;
    padding: 1.2em;
    box-sizing: border-box;
    border-radius: 1em;
    margin-inline: 0.8em ;
}

.products img{
    height: 15em;
    width: $product-width;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
}

.products h3{
    margin-top: 0em;
    background-color: grey;
    opacity: 0.8;
    padding: 0.4em;
    width: 15.5em;
    font-weight: bold;
    
}

.product h3 span{
    float: right;
    cursor: pointer;
    padding: 0.1em;
}

@mixin description {
    display: none;
    background-color:white;
    box-sizing: border-box;
    color: black;
    padding: 1em;
    width: $product-width;
    top: 0em;
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
}

.desc-one{
   @include description();
}
.desc-two{
    @include description();
}
.desc-three{
    @include description();
}
.desc-four{
    @include description();
}
.desc-five{
    @include description();
}
.desc-six{
    @include description();
}

.contacts-banner{
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    height: 31em;
    width: 90%;
    margin: 2.5em auto auto auto;
    padding-top: 5.0em;
}    

.contacts-header{
    font-weight: bold;
    font-size: 3.7em;
    background-color: none;
}

.contacts{
    max-width: 66em;
    margin: auto;
    @include flexInline('center');
   

}

.contact{
    padding: 1.25em;
    margin-bottom: auto;
    box-sizing: border-box;
    border-radius: 1em;
    opacity: 0.8;
    background-color: black;
    margin-inline: 2em;
}

.contact img{
    width: 7.5em;
    height: 7.5em;
}

.contact a h3{
    color: white;
}

footer section{
    height: 8em;
}

footer p{
    text-align: left;
    margin-left: 1.25px;
}

/**Interactivity*/
.hover{
    background-color: white;
    font-weight: bold;
    color: black;
}

@import './_mediaQueries';